<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i _ngcontent-lhs-c2="" class="metismenu-icon pe-7s-users"></i>
            </div>
            <div>Liste des Assurances
                <div class="page-title-subheading">consulter la liste
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ml-2">
    <div class="d-flex align-items-center" style="width:15%;">
        <button (click)="add()"  class="btn btn-primary btn-sm" style="width: 50%; justify-content: center; align-items: center; flex: 1;">
            <p *ngIf="true" style="font-size: 1.2em; padding: 0px; margin: 5px;">Ajouter</p>
            <div *ngIf="false" style="padding: 15px; margin-left: 50%;">
                <div class="ball-scale-multiple">
                    <div style="background-color: white;"></div>
                    <div style="background-color: white;"></div>
                    <div style="background-color: white;"></div>
                </div>
            </div>
        </button>
  </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Assureur</th>
                <th>Vehicule</th>
                <th>Debut Validite</th>
                <th>Fin validite</th>
                <th>Valeur Police D'Assurance</th>
                <th>N<sup>o</sup> Police</th>
                <th style="width: 150px;">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of data?.data ,let i = index" id="tr{{ element.id }}">
                    <td >{{ i+1 }}</td>
                    <td>{{element.name}}</td>
                    <td>{{element.registration}}</td>
                    <td>{{element.validity_date}}</td>
                    <td>{{element.end_validity}}</td>
                    <td>{{element.policy_number}}</td>
                    <td>{{element.bonus}}</td>
                    <td style="width: 150px;">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary"
                        (click)="update(element.id)"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success"
                        (click)="detail(element.id)">
                        <i class="pe-7s-info btn-icon-wrapper"> </i></button>
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"
                        (click)="delete(element.id)"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="loading">
                <td colspan="7" class="text-center">
                    <div class="spinner-border spinner-sm">
                        <span class="sr-only">Patientez svp...</span>
                    </div>
                </td>
            </tfoot>
            <tfoot *ngIf="!loading && data?.data.length == 0">
                <td colspan="7" class="text-center">
                    Liste vide
                </td>
            </tfoot>
        </table>
    </div>
</div>
