<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar ps ps--active-y">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu metismenu">
                <li class="app-sidebar__heading">Menu</li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.actualities')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        {{ 'Superadmins.LeftMenu.Actualities' | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="actualities mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu0=1;goTo('info1')"
                                class="{{ activeMenu.menu0 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>{{ 'Superadmins.Info1.Title' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu0=2;goTo('attributes')"
                                class="{{ activeMenu.menu0 == 2 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>{{ 'Superadmins.LeftMenu.Attributes' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu0=3;goTo('menus')"
                                class="{{ activeMenu.menu0 == 3 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>{{ 'Superadmins.LeftMenu.Menus' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu0=4;goTo('submenus')"
                                class="{{ activeMenu.menu0 == 4 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>{{ 'Superadmins.LeftMenu.SubMenus' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu0=5;goTo('articles')"
                                class="{{ activeMenu.menu0 == 5 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>{{ 'Superadmins.LeftMenu.Articles' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        {{ 'Superadmins.LeftMenu.Liturgical' | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu1=1;goTo('types')"
                                class="{{ activeMenu.menu1 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>               
                             {{ 'Superadmins.LeftMenu.Liturgical_type' | translate }}

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu1=2;goTo('entry-types')"
                                class="{{ activeMenu.menu1 == 2 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>               
                             {{ 'Superadmins.LeftMenu.Entry_Type' | translate }}

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu1=3;goTo('liturgicals')"
                                class="{{ activeMenu.menu1 == 3 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>               
                             {{ 'Superadmins.LeftMenu.Liturgical_Type_Entry' | translate }}

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu1=4;goTo('liturgical-texts')"
                                class="{{ activeMenu.menu1 == 4 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>               
                             {{ 'Superadmins.LeftMenu.Liturgical_text' | translate }}

                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today3')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 3
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today3 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu3=0;"
                                class="{{ activeMenu.menu3 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today4')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 4
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today4 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu4=0;"
                                class="{{ activeMenu.menu4 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today5')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 5
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today5 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu5=0;"
                                class="{{ activeMenu.menu5 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today6')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 6
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today6 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu6=0;"
                                class="{{ activeMenu.menu6 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today7')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 7
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today7 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu7=0;"
                                class="{{ activeMenu.menu7 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="javascript:void(0);" aria-expanded="false" (click)="showChildren('.today8')">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Ajourd'hui 8
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="today8 mm-collapse">
                        <li>
                            <a href="javascript:void(0);" (click)="activeMenu.menu8=0;"
                                class="{{ activeMenu.menu8 == 1 ? 'mm-active': ''}}">
                                <i class="metismenu-icon">
                                </i>...
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 657px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 517px;"></div>
        </div>
    </div>
</div>