

<mat-horizontal-stepper linear #stepper [selectedIndex]="currentStepper">
    <mat-step [stepControl]="step1Form" [editable]="isEditable">
        <form class="example-form" [formGroup]="step1Form">
            <ng-template matStepLabel>Informations Sur Entreprise</ng-template>
            
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom de l'entreprise</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="nom_entreprise" required>
                    </mat-form-field>

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero de Contribuable</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="num_contribuable" required>
                    </mat-form-field>

                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero RCCM</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="num_rccm" required>
                    </mat-form-field>

                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Adresse Facturation</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="adresse_facturation" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom du responsable</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="nom_respo" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Fonction du responsable</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="fonction_resp" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Telephone du Responsable</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="tel_respo" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Fonction du responsable</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="fonction_resp" required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button (click)="addStep1()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step2Form">
        <form class="example-form" [formGroup]="step2Form">
            <ng-template matStepLabel>Information sur le Permis</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero de Permis </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="num_permis" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Date de Delivrance</mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="date_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lieu de Delivrance </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="lieu_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="addStep2()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step3Form">
        <form class="example-form" [formGroup]="step3Form">
            <ng-template matStepLabel>Information Piece identite</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Piece Identite </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="piece_identite"
                            required>
                    </mat-form-field>
                    <!--  <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="piece_identite">
                          <mat-option value="passport">PASSPORT</mat-option>
                          <mat-option value="cni">CNI</mat-option>
                          <mat-option value="recepice">RECEPICE</mat-option>
                          <mat-option value="autre piece">AUTRE PIECE</mat-option>
                        </mat-select>
                      </mat-form-field>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero Piece Identite</mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="num_piece" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Date de Delivrance</mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="date_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lieu de Delivrance </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="lieu_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="addStep3()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step4Form">
        <form class="example-form" [formGroup]="step4Form">
            <ng-template matStepLabel>Formations</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom de la Formation </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="name_formation"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
                    <mat-form-field>
                        <input matInput formControlName="filename" placeholder="Fichier" readonly>
                    </mat-form-field>
                    <button mat-button (click)="selectFile()">Importer une Piece Justificative</button>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="addStep4()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
