button {
    right: 10px;
    position: absolute;
  }
  
  p {
    font-size: 30px;
    top: 40%;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .number {
    font-weight: bold;
    color: darkblue;
  }
  
  .header-design {
    border: 1px solid #f7b924;
    border-radius: 10px;
    padding: 14px !important;
    width: 100%;
  }
  
  .content-one-title {
    padding: 20px;
  }
  
  .content-one {
    padding: 20px;
  }
  
  .content-two-title {
    padding: 20px;
  }
  
  .content-two {
    padding: 20px;
  }
  
  .show-fichier {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }
  
  .update-cursor {
    cursor: pointer;
  }
  
  .bg-after-hover:hover {
    background: silver;
  }
  
  .bg-after-hover {
    background: white;
  }