<div class="card col-md-12 text-dark page-column" style="padding: 5px;">

    <div class="card card-shadow-dark card-border" style="width: 100%;">
        <div class="dropdown-menu-header justify-content-center align-items-center">
            <div class="dropdown-menu-header-inner bg-premium-dark" style="height: 200px;">
                <div class="menu-header-image"
                    style="background-image: url('assets/images/dropdown-header/city2.jpg'); height: 200px;"></div>
                <div class="menu-header-content">
                    <div class="avatar-icon-wrapper avatar-icon-lg">
                        <img [src]="getAvatarPath(cathechist.avatar)" alt="Avatar" class="rounded-circle" width="42px">
                    </div>
                    <br>
                    <div>
                        <h5 class="menu-header-title"> {{cathechist.first_name}}
                            {{cathechist.last_name}}</h5>
                        <h6 class="menu-header-subtitle"> </h6>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="ps ps--active-y">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-smile text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.FirstNameField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-heading">{{cathechist.first_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-smile text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.LastNameField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.last_name}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-mail text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.EmailField' | translate }}</div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.email}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-call text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.TypePhoneNumber' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.tel}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-note2 text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.BirthDateField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.birth_date}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-home text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.BirthPlaceField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.birth_place}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-note2 text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.BaptistDateField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.baptist_date}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-home text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        {{ 'UpdatePersonnalInfo.PlaceBaptistField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.baptist_place}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-map-marker text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.DistrictField' | translate }}
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.district}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-pen text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ 'UpdatePersonnalInfo.Language' | translate }}</div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.language}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-portfolio text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        {{ 'UpdatePersonnalInfo.ChooseYourProfessionField' | translate }}</div>
                                </div>
                                <div class="widget-content-right">
                                    medecin
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left center-elem mr-2"><i
                                        class="pe-7s-like text-muted fsize-2"></i></div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        {{ 'UpdatePersonnalInfo.AreYouMarriedField' | translate }}</div>
                                </div>
                                <div class="widget-content-right">
                                    {{cathechist.is_married==1 ? "Oui": "Non"}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="col-md-4" style="float: right;">
                    <a type="button " class="btn btn-danger btn-right" style="float: right"
                        (click)="close()">{{ 'Parishionals.Evenement.ButtonClose' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>