<div class="col-md-18">
    <div id="accordion" class="accordion-wrapper mb-3">
        <div class="card">
            <div id="headingOne" class="card-header">
                <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">Informations Generales</h5>
                </button>
            </div>
            <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse show">
                <div class="card-body" *ngFor="let driver of drivers">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Nom :</div>
                                        <div>
                                            {{ driver.first_name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Prenom :</div>
                                        <div>
                                            {{ driver.last_name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Nationalite :</div>
                                        <div>
                                            {{ driver.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Email :</div>
                                        <div>
                                            {{ driver.email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">telephone :</div>
                                        <div>
                                            {{ driver.tel2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Second Numero :</div>
                                        <div>
                                            {{ driver.tel1}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Addresse</div>
                                        <div>
                                            {{ driver.address}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Date de Naissance</div>
                                        <div>
                                            {{ driver.date_birth}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Lieu de Naissance :</div>
                                        <div>
                                            {{ driver.place_birth}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingOne" class="card-header">
                <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
                    aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">Permit de Conduire</h5>
                </button>
            </div>
            <div data-parent="#accordion" id="collapseOne2" aria-labelledby="headingOne" class="collapse show">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Numero du Permis</div>
                                        <div>
                                            {{ permit.number}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Number</div>
                                        <div>
                                            {{ permit.date_issue}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Lieu de Delivrance</div>
                                        <div>
                                            {{ permit.place_issue}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="card">
            <div id="headingOne" class="card-header">
                <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true"
                    aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">Formations </h5>
                </button>
            </div>
            <div data-parent="#accordion" id="collapseOne3" aria-labelledby="headingOne" class="collapse show">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Nom :</div>
                                        <div>
                                            {{ formation.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingOne" class="card-header">
                <button type="button" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true"
                    aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">Nationalite</h5>
                </button>
            </div>
            <div data-parent="#accordion" id="collapseOne4" aria-labelledby="headingOne" class="collapse show">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Nom :</div>
                                        <div>
                                            {{ nationalite.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Description :</div>
                                        <div>
                                            {{ nationalite.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingOne" class="card-header">
                <button type="button" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true"
                    aria-controls="collapseFour" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">Information sur mes Documents</h5>
                </button>
            </div>
            <div data-parent="#accordion" id="collapseOne5" aria-labelledby="headingOne" class="collapse show">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Piece Identique</div>
                                        <div>
                                            {{ info.identical_piece}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Numero de la Piece :</div>
                                        <div>
                                            {{ info.piece_number}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Date :</div>
                                        <div>
                                            {{ info.date_issue}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <div class="icon-wrapper-bg bg-light"></div>
                                            <i class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Lieu de l issue :</div>
                                        <div>
                                            {{ info.place_issue}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>