<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>{{ 'Superadmins.Articles.Title' | translate }}
                        <div class="page-title-subheading">{{ 'Superadmins.Articles.Describe' | translate }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-6" *ngIf=" detail == null">
            <div class="main-card mb-3 card">
                <div class="card-body" style="padding: 30px;">
                    <h5 class="card-title" style="text-align: center">
                        {{ 'Superadmins.Articles.AddElement' | translate }}</h5>
                    <div class="row container-details">
                        <form [formGroup]="createForm" (submit)="create()">
                            <div class="form-row form-container-css">
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.Menu' | translate }}</label>
                                        <select (change)="chooseMenu($event.target.value)" class="form-control">
                                            <option *ngFor="let menu of menus?.data" value="{{ menu.slug }}"
                                                title="{{ menu.description }}">{{ menu.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.SubMenu' | translate }}</label>
                                        <select formControlName="sub_menu_id"
                                            (change)="chooseSubMenu($event.target.value)"
                                            class="form-control {{ form.sub_menu_id.errors && isSubmitted ? 'invalid': '' }}">
                                            <option *ngFor="let smenu of submenus?.data" value="{{ smenu.slug }}"
                                                title="{{ smenu.description }}">{{ smenu.name }}</option>
                                        </select>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.sub_menu_id">
                                            {{ handleError?.sub_menu_id }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.NameField' | translate }}</label>
                                        <input name="name"
                                            placeholder="{{ 'Superadmins.Articles.NameField' | translate }}..."
                                            type="text"
                                            class="form-control {{ form.name.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="name" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.name">
                                            {{ handleError?.name }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.TitleField' | translate }}</label>
                                        <input name="titre"
                                            placeholder="{{ 'Superadmins.Articles.TitleField' | translate }}..."
                                            type="text"
                                            class="form-control {{ form.titre.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="titre" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.titre">
                                            {{ handleError?.titre }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.Contenu1Field' | translate }}</label>
                                        <input name="name"
                                            placeholder="{{ 'Superadmins.Articles.Contenu1Field' | translate }}..."
                                            type="text"
                                            class="form-control {{ form.contenu_1.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="contenu_1" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.contenu_1">
                                            {{ handleError?.contenu_1 }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.Contenu2Field' | translate }}</label>
                                        <input name="name"
                                            placeholder="{{ 'Superadmins.Articles.Contenu2Field' | translate }}..."
                                            type="text"
                                            class="form-control {{ form.contenu_2.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="contenu_2" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.contenu_2">
                                            {{ handleError?.contenu_2 }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="active == null">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.PhotoField' | translate }}</label>
                                        <input name="photo"
                                            placeholder="{{ 'Superadmins.Articles.PhotoField' | translate }}..."
                                            type="file" (change)="onSelectPhoto($event)"
                                            class="form-control {{ form.photo.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="photo" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.photo">
                                            {{ handleError?.photo }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="active == null">
                                    <div class="position-relative form-group"><label for="exampleEmail"
                                            class="">{{ 'Superadmins.Articles.FileField' | translate }}</label>
                                        <input name="fichier" multiple
                                            placeholder="{{ 'Superadmins.Articles.FileField' | translate }}..."
                                            type="file" (change)="onSelectFichier($event)"
                                            class="form-control {{ form.fichier.errors && isSubmitted ? 'invalid': '' }}"
                                            formControlName="fichier" required>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.fichier">
                                            {{ handleError?.fichier }}
                                        </small>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="ml-auto" *ngIf="active == null">
                                        <input type="submit" class="btn btn-primary btn-lg"
                                            value="{{ 'Superadmins.SaveField' | translate }}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <p class="bg-dark text-white">Etiam porta sem malesuada ultricies vehicula.</p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6" *ngIf=" detail != null">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title" style="text-align: center">
                                {{ 'Superadmins.Articles.ShowDetails' | translate }}
                            </h5>
                        </div>
                        <div class="col-md-2" style="margin-top: -13px;" (click)="this.detail = null">
                            <span style="font-size: 30px; cursor: pointer">
                                <i class="pe-7s-close"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row container-details">
                        <div class="widget-content p-0 header-design">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <img style="width: 40px; height: 40px;" class="rounded-circle"
                                        src="{{ getImage(detail.photo)}}" alt="">
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ detail?.name }}</div>
                                    <div class="widget-subheading" style="padding-right: 5%; width: 185%;">
                                        <span>{{ detail?.titre }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row content-one" *ngIf="detail.contenu_1">
                            <div class="col-md-12">
                                <div class="content-one-title" *ngIf="detail.contenu_1">
                                    {{ 'Superadmins.Articles.FirstContentTitle' | translate }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                {{ detail.contenu_1 }}
                            </div>
                        </div>
                        <div class="row content-two" *ngIf="detail.contenu_2">
                            <div class="col-md-12">
                                <div class="content-two-title">
                                    {{ 'Superadmins.Articles.SecondContentTitle' | translate }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                {{  detail.contenu_2 }}
                            </div>
                        </div>
                        <div class="col-md-12 content-file" *ngIf="detail.fichier">
                            <h5 class="card-title">{{ 'Superadmins.Articles.FileLabel' | translate }}</h5>
                            <div class="avatar-wrapper mt-2 avatar-wrapper-overlap">
                                <div class="avatar-icon-wrapper avatar-icon-sm"
                                    *ngFor="let img of getImage(detail.fichier)" (click)="Visualize(img)">
                                    <div class="avatar-icon">
                                        <img src="{{ img }}" alt="{{ img }}" class="update-cursor">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="bg-dark text-white">Etiam porta sem malesuada ultricies vehicula.</p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <h5 class="card-title" style="text-align: center; margin-top: 4%;"> {{ 'Superadmins.List' | translate }}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  bg-after-hover" *ngFor="let article of data?.data">
                        <div class="widget-content p-0" style="cursor: pointer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <img style="width: 40px; height: 40px;" class="rounded-circle"
                                        src="{{ getImage(article.photo) }}" alt="">
                                    <!-- <i class="pe-7s-anchor icon-type"></i> -->
                                </div>
                                <div class="widget-content-left" (click)="showDetails(article)">
                                    <div class="widget-heading">{{ article.name }}</div>
                                    <div class="widget-subheading" style="padding-right: 5%; width: 185%;">
                                        <span>{{ article.titre }}</span></div>
                                </div>
                                <div class="widget-content-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button type="button" class="btn-shadow btn btn-success"
                                            (click)="showDetails(article)" title="{{ 'Superadmins.Edit' | translate }}"><i
                                                class="pe-7s-note"></i></button>
                                        <button type="button" (click)="delete(article)"
                                            class="btn-shadow btn btn-danger"
                                            title="{{ 'Superadmins.Delete' | translate }}"><i
                                                class="pe-7s-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row" style="margin-top: 4%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example_previous">
                                <a (click)="getPage(data.prev_page_url)" aria-controls="example" data-dt-idx="0"
                                    tabindex="0" class="page-link">{{ 'Superadmins.Previous' | translate }}</a>
                            </li>
                            <li class="paginate_button page-item next" id="example_next">
                                <a (click)="getPage(data.next_page_url)" aria-controls="example" data-dt-idx="7"
                                    tabindex="0" class="page-link">{{ 'Superadmins.Next' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabs -->