<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>{{ 'Parishionals.Info1.MyInfo1' | translate }}
                        <div class="page-title-subheading">{{ 'Parishionals.Info1.DescribeMyInfo1' | translate }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="bill">
            <b class="name"> School </b>
        </div>
        <div class="name">
            No smoking
        </div>
    </div>
</div>

<!-- Tabs -->