.container-details div {
  margin-top: 4%;
}

.invalid {
  border: 1px solid red;
}

.parent-form {
  padding-top: 40%;
  overflow: scroll;
}

.form-control {
  border: 2px solid grey;
}

.info-error-danger {
  color: red !important;
}

.form-title-box {
  padding: 10px;
  border-radius: 5%;
}