<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="row">
            <div class="app-page-title" style="margin: 0%; width: 100%;">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-phone icon-gradient bg-premium-dark">
                            </i>
                        </div>
                        <div>{{ 'UpdatePersonnalInfo.MyPersonnalInfo' | translate }}
                            <div class="page-title-subheading">{{ 'UpdatePersonnalInfo.DescribeMyPersonnalInfo' | translate }}.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card d-md-flex d-sm-block bg-white align-items-center col-sm-12 col-md-10 col-lg-8 page-column">
                <div class="mx-auto app-login-box mt-5 col-sm-12 col-md-10 col-lg-9">
                    <div>
                        <form (submit)="onSubmit()" [formGroup]="registerForm">
                            <div class="form-row">
                                <!-- <div class="col-md-12 bg-secondary  text-light text-center mb-3 form-title-box" style="width: 100%;">
                                    <h4>{{ 'UpdatePersonnalInfo.UpdatePersonnalInfoForm.Title' | translate }}</h4>
                                </div> -->
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.FirstNameField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.TypeFirstNameField' | translate }}" type="text"
                                            formControlName="first_name"
                                            class="form-control {{ form.first_name.errors && isSubmitted ? 'invalid': '' }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.first_name">
                                            {{ handleError?.first_name }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.LastNameField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.TypeLastNameField' | translate }}" type="text"
                                            formControlName="last_name"
                                            class="form-control {{ form.last_name.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.last_name }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.last_name">
                                            {{ handleError?.last_name }}
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleEmail" class="">
                                        {{ 'UpdatePersonnalInfo.BirthDateField' | translate }}
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar-alt"></i>
                                            </div>
                                        </div>
                                        <input type="date" formControlName="birth_date"
                                            class="form-control input-mask-trigger {{ form.birth_date.errors && isSubmitted ? 'invalid': '' }}"
                                            data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy"
                                            im-insert="false" value="{{ user.infos.first_name }}" value="{{ user.infos.birth_date }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.birth_date">
                                            {{ handleError?.birth_date }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.BirthPlaceField' | translate }}</label>
                                        <input name="email" id="exampleEmail" formControlName="birth_place"
                                            placeholder="{{ 'UpdatePersonnalInfo.TypeDistrict' | translate }}" type="text"
                                            class="form-control {{ form.birth_place.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.birth_place }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.birth_place">
                                            {{ handleError?.birth_place }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.DistrictField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.TypeDistrict' | translate }}" type="text"
                                            formControlName="district"
                                            class="form-control {{ form.district.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.district }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.district">
                                            {{ handleError?.district }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.TelephoneField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.TelephoneField' | translate }}" type="tel"
                                            formControlName="tel"
                                            class="form-control {{ form.tel.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.tel }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.tel">
                                            {{ handleError?.tel }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">{{ 'UpdatePersonnalInfo.EmailField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.TypeEmailField' | translate }}" type="email"
                                            formControlName="email"
                                            class="form-control {{ form.email.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.email }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.email">
                                            {{ handleError?.email }}
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">
                                            {{ 'UpdatePersonnalInfo.ChooseYourLanguageField' | translate }}
                                        </label>
                                        <select formControlName="language"
                                            class="form-control {{ form.language.errors && isSubmitted ? 'invalid': '' }}">
                                            <option value="" disabled selected hidden>{{ 'UpdatePersonnalInfo.ChooseYourLanguageField'| translate }}</option>
                                            <option value="en">{{ 'UpdatePersonnalInfo.EnglishValue' | translate }}</option>
                                            <option value="fr">{{ 'UpdatePersonnalInfo.FrenchValue' | translate }}</option>
                                        </select>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.language">
                                            {{ handleError?.language }}
                                        </small>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class=""><span
                                                class="text-danger">*</span>{{ 'UpdatePersonnalInfo.YourProfessionField' | translate }}</label>
                                        <input name="email" id="exampleEmail" placeholder="{{ 'UpdatePersonnalInfo.YourProfessionField' | translate }}" type="text"
                                            formControlName="profession"
                                            class="form-control {{ form.profession.errors && isSubmitted ? 'invalid': '' }}" value="{{ user.infos.profession }}">
                                        <small class="form-text text-muted info-error info-error-danger" *ngIf="handleError?.profession">
                                            {{ handleError?.profession }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">
                                            {{ 'UpdatePersonnalInfo.GenderField' | translate }}
                                        </label>
                                        <select formControlName="gender"
                                            class="form-control {{ form.gender.errors && isSubmitted ? 'invalid': '' }}">
                                            <option value="" disabled selected hidden>{{ 'UpdatePersonnalInfo.GenderField'| translate }}</option>
                                            <option value="F">{{ 'UpdatePersonnalInfo.FemaleValue' | translate }}</option>
                                            <option value="M">{{ 'UpdatePersonnalInfo.MaleValue' | translate }}</option>
                                        </select>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.gender">
                                            {{ handleError?.gender }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="exampleEmail" class="">
                                            {{ 'UpdatePersonnalInfo.AreYouMarriedField' | translate }}
                                        </label>
                                        <div class="row">
                                            <div class="col-md-6 form-check">
                                                <input formControlName="is_married" class="form-check-input"
                                                    type="radio" name="is_married" id="is_married"
                                                    value="1" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                    {{ 'UpdatePersonnalInfo.Yes' | translate }}
                                                </label>
                                            </div>
                                            <div class="col-md-6 form-check">
                                                <input (click)="registerForm.patchValue({is_married:0})" class="form-check-input"
                                                    type="radio" name="is_married" id="is_married"
                                                    value="0">
                                                <label class="form-check-label" for="exampleRadios2">
                                                    {{ 'UpdatePersonnalInfo.No' | translate }}
                                                </label>
                                            </div>
                                            <small class="form-text text-muted info-error info-error-danger"
                                                *ngIf="handleError?.is_married">
                                                {{ handleError?.is_married }}
                                            </small>
                                        </div>
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.is_married">
                                            {{ handleError?.is_married }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group text-center">
                                        <button (click)="chooseFile()" class="mb-2 mt-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-focus" type="button" title="{{ 'UpdatePersonnalInfo.ChooseFileTitle' | translate }}" data-placement="top" id="get_file">
                                            <i class="pe-7s-upload btn-icon-wrapper"> </i>
                                            {{ "UpdatePersonnalInfo.ChooseFileTitle" | translate }}
                                        </button>
                                        <input formControlName="files" type="file" accept=".png, .jpg, .jpeg" (change)="onSelectfile($event)" id="my_file" class="form-control" name="file" placeholder="{{ 'UpdatePersonnalInfo.FileField' | translate }}"/>
                                        <div *ngIf="file !== null">
                                           <strong> {{ computeFileName() }} </strong>
                                        </div>
                                    </div>
                                </div> 

                                <div *ngIf="file !== null" class="col-sm-12 col-md-12 text-center ">
                                    <div class="avatar-icon-wrapper avatar-icon-lg bg-secondary">
                                        <div class="avatar-icon rounded btn-hover-shine"  style="height: 10% width: 10%;"><img [src]="avatarPreviewPath" alt="Avatar"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-3 mb-4 d-flex align-items-center">
                                <div class="text-center" style="width: 100%;"> 
                                    <button  [disabled]="isLoading" class="btn-wide btn-shadow btn-hover-shine btn btn-pill btn-danger" style="width: 100%; justify-content: center; align-items: center; flex: 1;">
                                        <p *ngIf="!isLoading" style="font-size: medium; padding: 0px; margin: 5px;"> {{ 'UpdatePersonnalInfo.ModifyAccountField' | translate }} </p>
                                        <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                            <div class="ball-scale-multiple">
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card col-sm-12 col-md-2 col-lg-4 text-dark page-column" style="padding: 5px;">
                
                <div class="card card-shadow-dark card-border" style="width: 100%;">
                    <div class="dropdown-menu-header justify-content-center align-items-center">
                        <div class="dropdown-menu-header-inner bg-premium-dark" style="height: 200px;">
                            <div class="menu-header-image" style="background-image: url('assets/images/dropdown-header/city2.jpg'); height: 200px;"></div>
                            <div class="menu-header-content">
                                <div class="avatar-icon-wrapper avatar-icon-lg">
                                    <div class="avatar-icon rounded btn-hover-shine"><img [src]="avatarPath" alt="Avatar"></div>
                                </div>
                                <div>
                                    <h5 class="menu-header-title">{{ user.infos.first_name ? user.infos.first_name : '' }} {{ user.infos.last_name ? user.infos.last_name : '' }}</h5>
                                    <h6 class="menu-header-subtitle">  </h6>
                                </div>
                                <div class="menu-header-btn-pane mt-3">
                                    <button class="btn-wide btn-shadow btn-pill btn btn-danger"> {{ 'UpdatePersonnalInfo.ViewProfile' | translate }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="scrollbar-container ps ps--active-y">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-smile text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.FirstNameField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-heading">{{ user.infos.first_name ? user.infos.first_name : '' }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-smile text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.LastNameField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                                {{ user.infos.last_name ? user.infos.last_name : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-mail text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.EmailField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ user.infos.email ? user.infos.email : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-call text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.TypePhoneNumber' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ user.infos.tel ? user.infos.tel : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-note2 text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.BirthDateField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ user.infos.birth_date ? user.infos.birth_date : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-home text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.BirthPlaceField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ user.infos.birth_place ? user.infos.birth_place : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-map-marker text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.DistrictField' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ user.infos.district ? user.infos.district : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left center-elem mr-2"><i class="pe-7s-pen text-muted fsize-2"></i></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ 'UpdatePersonnalInfo.Language' | translate }}</div>
                                            </div>
                                            <div class="widget-content-right">
                                               {{ displayUserLanguage() }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: -9px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 9px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 5px; height: 121px;"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>