<div class="row">
    <div class="col-md-10">
        <mat-form-field class="example-full-width">
            <mat-label>Lieu de Delivrance </mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" 
                required>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <mat-form-field class="example-full-width">
            <mat-label>Lieu de Delivrance </mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" 
                required>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <mat-form-field class="example-full-width">
            <mat-label>Lieu de Delivrance </mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" 
                required>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <mat-form-field class="example-full-width">
            <mat-label>Lieu de Delivrance </mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" 
                required>
        </mat-form-field>
    </div>
</div>
<div class="col-md-12">
    <button class="btn btn-primary" >Enregistrer</button>
    <button class="btn btn-danger" style="margin-left: 50%;">Fermer</button>
</div>