<div class="card">
    <div class="card-header">
        <h3 style="text-align: center;">{{ 'Parishionals.Evenement.LabelAdd' | translate }}</h3>
    </div>
    <div class="card-body">
        <form (submit)="add()" [formGroup]="formEvenement">

            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="nom"
                    class="form-control {{ isSubmitted && form.nom.errors ? 'is-invalid' : '' }}">
            </div>
            <div class="position-relative form-group">
                <label for="exampleText" class="">Description </label>
                <textarea name="text" id="exampleText" class="form-control" formControlName="description"
                    class="form-control {{ isSubmitted && form.description.errors ? 'is-invalid' : '' }}"></textarea>
            </div>
            <div class="position-relative form-group">
                <label for="exampleFile" class="">Image</label>
                <input name="file" id="exampleFile" (change)=detectfile($event) type="file" class="form-control-file">
                <small class="form-text text-muted">This is some placeholder block-level help text for the above input.
                    It's a bit lighter and easily wraps to a new line.</small>
            </div>

            <div class="form-group">
                <button type="submit"
                    class="btn btn-primary">{{ 'Parishionals.Evenement.ButtonAdd' | translate }}</button>
                <a type="button " class="btn btn-danger btn-right" style="float: right"
                    (click)="close()">{{ 'Parishionals.Evenement.ButtonClose' | translate }}</a>
            </div>
        </form>

    </div>

</div>