<div class="app-page-title " style="margin: auto;">
    <div>
        <img width="100" height="60" src="assets/images/E-church Logo.png" alt="">

    </div>
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="pe-7s-user"> </i>

            </div>
            <div>{{ 'Register.Welcome' | translate }}
                <div class="page-title-subheading">{{ 'Register.Users' | translate }}
                </div>
            </div>
            <div class="dropdown" style="margin-left: 400px; position: fixed;">
                <button *ngIf="currentLanguage == 'fr'" (click)="changeLanguage('en')"
                    style="float: right" type="button" data-toggle="dropdown"
                    class="p-0 mr-2 btn btn-link" aria-expanded="false" title="US">
                    <span class="icon-wrapper icon-wrapper-alt">
                        <span class="icon-wrapper-bg"></span>
                        <span class="language-icon flag large US"></span>
                    </span>
                </button>
                <button *ngIf="currentLanguage == 'en'" (click)="changeLanguage('fr')"
                    style="float: right" type="button" data-toggle="dropdown"
                    class="p-0 mr-2 btn btn-link" aria-expanded="false" title="France">
                    <span class="icon-wrapper icon-wrapper-alt">
                        <span class="icon-wrapper-bg"></span>
                        <span class="language-icon opacity-8 flag large FR"></span>
                    </span>
                </button>
            </div>
            <div class="page-title-actions">
                <a type="button" [routerLink]="['/public/register']" data-toggle="tooltip" title="{{ 'Register.AddUser' | translate }}" data-placement="bottom" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-primary" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; flex-direction: row;">
                    <!-- <i class="pe-7s-diskette btn-icon-wrapper" style="font-size: 1.2em;"></i> -->
                    <p style="font-size: 1.2em; margin-top: 7%;">{{ 'Register.AddUser' | translate }}</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
   
<div class="tabs-animation">
    <div class="main-card mb-3 card">
        <div class="card-header font-icon-wrapper">
            <i class="pe-7s-user"> </i>
            {{ 'Register.PersonalInformation' | translate }}
        </div>
        <div class="col-md-18">
            <div class="dataTables_scroll">
                <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: auto; width: 100%;">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable" role="grid">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>#</th>
                                <th>{{ 'Register.Avatar' | translate }}</th>
                                <th>{{ 'Register.FirstNameField' | translate }}</th>
                                <th>{{ 'Register.LastNameField' | translate }}</th>
                                <th>{{ 'Register.EmailField' | translate }}</th>
                                <th>{{ 'Register.Sexe' | translate }}</th>
                                <th>{{ 'Register.BirthDateField' | translate }}</th>
                                <th>{{ 'Register.BirthPlaceField' | translate }}</th>
                                <th>{{ 'Register.DistrictField' | translate }}</th>
                                <th>{{ 'Register.TelephoneField' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users,let i = index" id="tr{{ user.id }}">
                            <td style="width: 5%">
                                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success" (click)=" detailsUser(user.id)">
                                    <i class="pe-7s-info btn-icon-wrapper"> </i>
                                </button>
                            </td>
                            <td style="width: 4%;">{{ i+1 }}</td>
                            <td style="width: 10%;">
                                <img width="50" height="50" src="{{user ? user.avatar ? getImage(user.avatar) : 'assets/images/avatars/default-avatar.jpg' : 'assets/images/avatars/default-avatar.jpg' }}" alt="pic" class="rounded-circle">
                            </td>
                            <td style="width: 10%;">{{ user.first_name }}</td>
                            <td style="width: 10%;">{{ user.last_name }}</td>
                            <td style="width: 15%;">{{ user.email }}</td>
                            <td style="width: 8%;">{{ user.gender }}</td>
                            <td style="width: 10%;">{{ user.birth_date }}</td>
                            <td style="width: 10%;">{{ user.birth_place }}</td>
                            <td style="width: 10%;">{{ user.district }}</td>
                            <td style="width: 8%;">{{ user.tel }}</td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="loading && (!users || !users.length)">
                        <td colspan="11" class="text-center">
                            <div class="spinner-border spinner-sm">
                                <span class="sr-only">Patientez svp...</span>
                            </div>
                        </td>
                    </tfoot>
                    <tfoot *ngIf="!loading && (!users || !users.length)">
                        <td colspan="11" class="text-center">
                            Liste vide
                        </td>
                    </tfoot>
                </table>
            </div>
            </div>
</div>
            <!-- <table style="width: 100%; " id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Register.Avatar' | translate }}</th>
                        <th>{{ 'Register.FirstNameField' | translate }}</th>
                        <th>{{ 'Register.LastNameField' | translate }}</th>
                        <th>{{ 'Register.EmailField' | translate }}</th>
                        <th>{{ 'Register.Sexe' | translate }}</th>
                        <th>{{ 'Register.BirthDateField' | translate }}</th>
                        <th>{{ 'Register.BirthPlaceField' | translate }}</th>
                        <th>{{ 'Register.DistrictField' | translate }}</th>
                        <th>{{ 'Register.TelephoneField' | translate }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users,let i = index" id="tr{{ user.id }}">
                        <td>{{ i+1 }}</td>
                        <td style="width: 10%">
                            <img width="50" height="50" src="{{user ? user.avatar ? getImage(user.avatar) : 'assets/images/avatars/default-avatar.jpg' : 'assets/images/avatars/default-avatar.jpg' }}" alt="pic" class="rounded-circle">
                        </td>
                        <td style="width: 10%">{{ user.first_name }}</td>
                        <td style="width: 10%">{{ user.last_name }}</td>
                        <td style="width: 15%">{{ user.email }}</td>
                        <td style="width: 8%">{{ user.gender }}</td>
                        <td style="width: 10%">{{ user.birth_date }}</td>
                        <td style="width: 10%">{{ user.birth_place }}</td>
                        <td style="width: 10%">{{ user.district }}</td>
                        <td style="width: 8%">{{ user.tel }}</td>
                        <td style="width: 5%">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success" (click)=" detailsUser(user.id)"><i class="pe-7s-info btn-icon-wrapper"> </i></button></td>
                    </tr>
                </tbody>
                <tfoot *ngIf="loading && (!users || !users.length)">
                    <td colspan="11" class="text-center">
                        <div class="spinner-border spinner-sm">
                            <span class="sr-only">Patientez svp...</span>
                        </div>
                    </td>
                </tfoot>
                <tfoot *ngIf="!loading && (!users || !users.length)">
                    <td colspan="11" class="text-center">
                        Liste vide
                    </td>
                </tfoot>
            </table> -->
        </div>
    </div>
</div>