<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>LISTING DE CHAUFFEURS
                        <div class="page-title-subheading">Liste des chauffeurs enregistrees.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div>
            <button type="button" class="btn mr-2 mb-2 btn-primary" (click)="add()">
                Ajouter un chauffeur
            </button>
        </div>

        <br>
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    
                    <th style="width: 45%;">Photo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th >Nationalite</th>
                    <th >telephone</th>
                    <th >email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let driver of drivers.data,let i = index">
                    
                   <td>
                       <img [src]="driver.avatar" width="300px" height="200px" alt="image du chauffeur" srcset="">
                    </td>
                    <td >{{driver.first_name}}</td>
                    <td >{{driver.last_name}}</td>
                    <td >{{driver.name}}</td>
                    <td >{{driver.tel2}}</td>
                    <td >{{driver.email}}</td>
                    <td >
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary"
                            (click)="update(driver.id)"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success"
                            (click)="detail(driver.id)">
                            <i class="pe-7s-info btn-icon-wrapper"> </i></button>
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"
                            (click)="delete(driver.id)"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>

                    </td>
                </tr>

            </tbody>

            <br>

            <tfoot>
                <div class="row" style="margin-top: 4%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example_previous">
                                <a  (click)="getPage(drivers.prev_page_url)" aria-controls="example" data-dt-idx="0" tabindex="0"
                                    class="page-link">PRECEDENT</a>
                            </li>
                            <li class="paginate_button page-item next" id="example_next">
                                <a (click)="getPage(drivers.next_page_url)" aria-controls="example" data-dt-idx="7" tabindex="0"
                                    class="page-link">SUIVANT</a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </tfoot>
        </table>
    </div>
</div>