<div class="card">
    <div class="card-header">
        <h3 style="text-align: center;">{{ 'CathechesisCoordinator.Sacrament.LabelAdd' | translate }}</h3>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a type="button " class="btn btn-danger btn-right" style="float: right"
        (click)="close()">{{ 'CathechesisCoordinator.Sacrament.ButtonClose' | translate }}</a>
    </div>
    <div class="card-body">
        <form (submit)="submit()" [formGroup]="formSacrament">
            
            <div>
                <label for="examplePassword" class="">{{ 'CathechesisCoordinator.Sacrament.LabelCategory' | translate }}</label>
                <select formControlName="license_type_id" class="form-control {{ isSubmitted && form.license_type_id.errors ? 'is-invalid' : '' }}">
                     <option value="" disabled selected hidden>{{ 'CathechesisCoordinator.Sacrament.FieldCategory' | translate }}</option>
                     <option *ngFor="let sacramentcategory of sacramentcategories"  value="{{sacramentcategory.id}}">{{sacramentcategory.title}} </option>
               </select>
            </div>
            <div class="form-group">
                <label for="title">{{ 'CathechesisCoordinator.Sacrament.LabelName' | translate }}</label>
                <input type="text" class="form-control" id="title" formControlName="title"
                    class="form-control {{ isSubmitted && form.title.errors ? 'is-invalid' : '' }}">
            </div>
            <div class="position-relative form-group">
                <label for="exampleText" class="">Description </label>
                <textarea name="text" id="exampleText" class="form-control" formControlName="description"
                    class="form-control {{ isSubmitted && form.description.errors ? 'is-invalid' : '' }}"></textarea>
            </div>
            <div class="position-relative form-group">
                <label for="exampleFile" class="">{{ 'CathechesisCoordinator.Sacrament.LabelCompositionFile' | translate }}</label>
                <input name="composition_file" id="exampleFile" (change)=detectfile($event) type="file" class="form-control-file">
            </div>

            <div class="position-relative form-group">
                <label for="exampleFile" class="">{{ 'CathechesisCoordinator.Sacrament.LabelInscriptionFile' | translate }}</label>
                <input name="inscription_file" id="exampleFile" (change)=detectfile($event) type="file" class="form-control-file">
            </div>

            <!-- <div class="form-group">
                <button type="submit"
                    class="btn btn-primary">{{ 'CathechesisCoordinator.Sacrament.ButtonAdd' | translate }}</button>
                <a type="button " class="btn btn-danger btn-right" style="float: right"
                    (click)="close()">{{ 'CathechesisCoordinator.Sacrament.ButtonClose' | translate }}</a>
            </div> -->
            <div class="d-flex align-items-center" style="width: 100%;">
                <button  [disabled]="isLoading" class="btn btn-primary btn-lg" style="width: 40%; justify-content: right; align-items: center; flex: 1;">
                    <p *ngIf="!isLoading" style="font-size: 1.2em; padding: 0px; margin: 5px;">{{ 'CathechesisCoordinator.Sacrament.ButtonAdd' | translate }}</p>
                    <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                        <div class="ball-scale-multiple">
                            <div style="background-color: white;"></div>
                            <div style="background-color: white;"></div>
                            <div style="background-color: white;"></div>
                        </div>
                    </div>
                </button>
          </div>
        </form>

    </div>

</div>
