<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>Quelques Informations Utiles
                        <div class="page-title-subheading">visualiser.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>


<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3 widget-chart">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-primary"></div>
                            <i class="pe-7s-way text-primary"></i></div>
                        <div class="widget-numbers"><span>{{tot_transporteur}}</span></div>
                        <div class="widget-subheading">Nombre Total Entreprise</div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="card mb-3 widget-chart">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-primary"></div>
                            <i class="pe-7s-users text-primary"></i></div>
                        <div class="widget-numbers"><span>46</span></div>
                        <div class="widget-subheading">Nombre Total De Particulier</div>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="card mb-3 widget-chart">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-warning"></div>
                            <i class="pe-7s-users text-px"></i></div>
                        <div class="widget-numbers"><span>{{tot_driver}}</span></div>
                        <div class="widget-subheading">Nombre Total de Chauffeur</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 widget-chart">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-success"></div>
                            <i class="pe-7s-car text-primary"></i></div>
                        <div class="widget-numbers"><span>{{tot_car}}</span></div>
                        <div class="widget-subheading">Nombre Total Engin</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 widget-chart">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-premium-dark"></div>
                            <i class="pe-7s-share text-primary"></i></div>
                        <div class="widget-numbers"><span>{{tot_element}}</span></div>
                        <div class="widget-subheading">Nombre Total Element de Transport    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>