.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 200%;
    
  }
  
  .example-full-width {
    width: 100%;
    
  }
  .example-full-width1 {
    width: 70%;
    
  }
  .example-form{
    margin-left: 300px;
  }
  .finish{
    text-align: center;
}
.btn{
  margin: 10px;
}