<mat-horizontal-stepper linear #stepper [selectedIndex]="currentStepper">
    <mat-step [stepControl]="step1Form" [editable]="isEditable">
        <form class="example-form" [formGroup]="step1Form">
            <ng-template matStepLabel>Informations Generale</ng-template>

            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Selectionner le transporteur</mat-label>
                        <mat-select formControlName="transporter_id">
                            <mat-option *ngFor="let transporter of transporters"
                            value="{{ transporter.stepper_main_id }}" title="{{ transporter.name }}">
                            {{ transporter.name }}
                            </mat-option>
                        </mat-select>   
                        <!-- <input matInput placeholder="Last name, First name" formControlName="nationality_id" required> -->
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input type="file" id="userFile" (change)="onSelectFileAvatar($event)" #fileInputAvatar
                        style="display: none">
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="avatar" placeholder="Fichier" readonly>
                    </mat-form-field>
                    <button type="button" mat-button (click)="selectFileAvatar()">Choisir la photo</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nationalite</mat-label>
                        <mat-select formControlName="nationality_id">
                            <mat-option *ngFor="let nationalitie of nationalities?.data"
                            value="{{ nationalitie.id }}" title="{{ nationalitie.description }}">
                            {{ nationalitie.name }}
                            </mat-option>
                        </mat-select>   
                        <!-- <input matInput placeholder="Last name, First name" formControlName="nationality_id" required> -->
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="nom" required>
                    </mat-form-field>

                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Prenom</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="prenom" required>
                    </mat-form-field>

                </div>


            </div>

            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Date de Naissance</mat-label>
                        <input matInput  type="date" placeholder="Last name, First name" formControlName="date_naissance" required>
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lieu de Naissance</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="lieu_naissance" required>
                    </mat-form-field>

                </div>
            </div>


            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="email" required>
                    </mat-form-field>

                </div>
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Adresse</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="adresse" required>
                    </mat-form-field>

                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Telephone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" formControlName="telephone1" matInput placeholder="555-555-1234">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Telephone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" formControlName="telephone2" matInput placeholder="555-555-1234">
                    </mat-form-field>

                </div>

            </div>

            <div>
                <button class="btn btn-success" (click)="addStep1()" mat-button matStepperNext>Enregistrer</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step2Form">
        <form class="example-form" [formGroup]="step2Form">
            <ng-template matStepLabel>Information sur le Permis</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero de Permis </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="num_permis" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Date de Delivrance</mat-label>
                        <input matInput type="date" placeholder="Ex. 1 Main St, New York, NY" formControlName="date_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lieu de Delivrance </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="lieu_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button (click)="addStep2()" mat-button matStepperNext>Enregistrer</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step3Form">
        <form class="example-form" [formGroup]="step3Form">
            <ng-template matStepLabel>Information Piece identite</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Piece Identite </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="piece_identite"
                            required>
                    </mat-form-field>
                    <!--  <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="piece_identite">
                          <mat-option value="passport">PASSPORT</mat-option>
                          <mat-option value="cni">CNI</mat-option>
                          <mat-option value="recepice">RECEPICE</mat-option>
                          <mat-option value="autre piece">AUTRE PIECE</mat-option>
                        </mat-select>
                      </mat-form-field>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero Piece Identite</mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="num_piece" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Date de Delivrance</mat-label>
                        <input matInput type="date" placeholder="Ex. 1 Main St, New York, NY" formControlName="date_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lieu de Delivrance </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="lieu_delivrance"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button class="btn btn-success" (click)="addStep3()" mat-button matStepperNext>Enregistrer</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="step4Form">
        <form class="example-form" [formGroup]="step4Form">
            <ng-template matStepLabel>Formations</ng-template>
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom de la Formation </mat-label>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="name_formation"
                            required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
                    <mat-form-field>
                        <input matInput formControlName="filename" placeholder="Fichier" readonly>
                    </mat-form-field>
                    <button type="button" mat-button (click)="selectFile()">Importer une Piece Justificative</button>
                </div>
            </div>
            <div>
                <button class="btn btn-success" (click)="addStep4()" mat-button matStepperNext>Enregistrer</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p class="finish"> Good. enregistrement de tout les informations de engin effectuees avec sucess.</p>
        <div>
            <button class="btn btn-primary" mat-button (click)="reset()">Terminer</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>