.container-details div {
  margin-top: 4%;
}
.myhover:hover{
  background-color: rgb(226, 231, 225) !important;
  cursor: pointer;
}
.classIsActive{
  background-color: rgb(226, 231, 225) !important;
  cursor: pointer;
}

.myinput{
  width: 340px;
}
.mybutton{
 float: left;
}
.divbutton{
  padding-right: 7px;
  padding-top: 10px;
}
.userChatMessage{
  background-color: rgb(112, 236, 112);
}
.priestChatMessage{
  background-color: rgb(204, 223, 204);
}