<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>{{ 'priests.WriteToPriests' | translate }}
                        <div class="page-title-subheading">{{ 'priests.WritsToPriestsDesc' | translate }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <ul class="list-group list-group-flush">
                    <li *ngFor="let priest of priests" class="list-group-item myhover" [ngClass]="{'classIsActive': priest.user_id === applyOnM}" (click)="creatDiscussion(priest.user_id)">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div *ngIf="!priest.avatar" class="widget-content-left mr-3">
                                    <img width="42" class="rounded-circle" src="assets/images/avatars/default-avatar.jpg" alt="">
                                </div>
                                <div *ngIf="priest.avatar" class="widget-content-left mr-3">
                                    <img width="42" class="rounded-circle" [src]="getPriestAvatar(priest.avatar)" alt="">
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ priest.first_name }} {{ priest.last_name }}</div>
                                    <div class="widget-subheading">{{ priest.parish_name }}</div>
                                </div>
                               
                            </div>
                        </div>
                    </li>
                   
                    
                    <li class="list-group-item">
                        <div class="card-body">
                            <nav class="pagination-rounded" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous" id="example_previous">
                                        <a (click)="getPage(previous_url)" aria-controls="example" data-dt-idx="0" tabindex="0"
                                            class="page-link">{{ 'Parishionals.Previous' | translate }}</a>
                                    </li>                                    
                                    <li class="page-item"><a href="javascript:void(0);" class="page-link">{{ curent_page }}</a></li>
                                    <li class="paginate_button page-item next" id="example_next">
                                        <a (click)="getPage(nextpage_url)" aria-controls="example" data-dt-idx="7" tabindex="0"
                                            class="page-link">{{ 'Parishionals.Next' | translate }}</a>
                                    </li>                                 
                                </ul>
                            </nav>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        
            <div class="col-sm-12 col-lg-6">
                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-printer icon-gradient bg-ripe-malin"> </i>Chat Box</div>
                        <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                            <div class="btn-group dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link"><i class="pe-7s-menu btn-icon-wrapper"></i></button>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu"><h6 tabindex="-1" class="dropdown-header">Header</h6>
                                    <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-inbox"> </i><span>Menus</span></button>
                                    <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-file-empty"> </i><span>Settings</span></button>
                                    <button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-book"> </i><span>Actions</span></button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <div class="p-3 text-right">
                                        <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                                        <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-area-lg">
                        <div class="scrollbar-container ps ps--active-y">
                            <div class="p-2">
                                <div *ngFor="let discussion of discussions" class="chat-wrapper p-1">
                                    <div *ngIf="discussion.sender_id !== user.infos.id"  class="chat-box-wrapper">
                                        <div>
                                            <div class="avatar-icon-wrapper mr-1">
                                                <div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg"></div>
                                                <div *ngIf="priestAvatar === ''" class="avatar-icon avatar-icon-lg rounded">
                                                    <img [src]="priestAvatar" alt="">
                                                </div>
                                                <div *ngIf="priestAvatar !== ''" class="avatar-icon avatar-icon-lg rounded">
                                                    <img src="assets/images/avatars/default-avatar.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chat-box priestChatMessage">{{ discussion.content }}</div>
                                            <small class="opacity-6">
                                                <i class="fa fa-calendar-alt mr-1"></i>
                                                {{ discussion.received_at | date: 'yyyy-mm-dd'}} {{ 'priests.AT' | translate }}  {{ discussion.received_at | date: 'HH:MM:SS'}}
                                            </small>
                                        </div>
                                    </div>
                                   
                                    <div *ngIf="discussion.sender_id === user.infos.id" class="float-right">
                                        <div class="chat-box-wrapper chat-box-wrapper-right">
                                            <div>
                                                <div class="chat-box userChatMessage">{{ discussion.content }}</div>
                                                <small class="opacity-6">
                                                    <i class="fa fa-calendar-alt mr-1"></i>
                                                    {{ discussion.received_at | date: 'yyyy-mm-dd'}} {{ 'priests.AT' | translate }}  {{ discussion.received_at | date: 'HH:MM:SS'}}
                                                </small>
                                            </div>
                                            <div>
                                                <div class="avatar-icon-wrapper ml-1">
                                                    <div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg"></div>
                                                    <div *ngIf="user.infos.avatar" class="avatar-icon avatar-icon-lg rounded">
                                                        <img [src]="currentUserAvatar" alt="">
                                                    </div>
                                                    <div *ngIf="!user.infos.avatar" class="avatar-icon avatar-icon-lg rounded">
                                                        <img src="assets/images/avatars/default-avatar.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 400px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 265px;"></div></div></div>
                    </div>
                    <div class="card-footer">
                        <form (submit)="onSubmit()" [formGroup]="chatForm">
                            <div class="row">
                                <div class="col-md-9">
                                    <textarea formControlName="content" rows="1" class="form-control autosize-input myinput" style="height: 77px;" placeholder="{{ 'priests.TextAreaPlaceHolder' | translate}}"></textarea>                           
                                </div>
                                <div class="col-md-3 divbutton">
                                    <button type="submit" class="mb-2 mr-2 btn-icon btn-square btn btn-dark mybutton"><i class="lnr-location btn-icon-wrapper"> </i>{{ 'priests.SendMessageButton' | translate }}</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
               
                </div>
            </div>
        

    </div>
</div>

<!-- Tabs -->