.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 200%;
    
  }
  
  .example-full-width {
    width: 100%;
    
  }
  .example-full-width1 {
    width: 70%;
    
  }
  .example-form{
    margin-left: 300px;
  }
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover {
    background: #0070c040;
  }
  .mat-expansion-panel-header:focus{
    background: #0070c040 !important;
    }
  