<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>{{ 'Superadmins.Liturgical_Type_Entry.Title' | translate }}
                        <div class="page-title-subheading">{{ 'Superadmins.Liturgical_Type_Entry.Describetype' | translate }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">
                        {{ 'Superadmins.Liturgical_Type_Entry.AddElement' | translate }}</h5>
                    <div class="row container-details">
                        <form [formGroup]="createForm" (submit)="create()">
                            <div class="form-row form-container-css">
                                <div class="col-md-12">
                             <div class="position-relative form-group"><label for="exampleEmail"
                                    class="">{{ 'Superadmins.Liturgical_Type_Entry.TypeField' | translate }}</label>
                                <select formControlName="type_id" 
                                    class="form-control {{ form.type_id.errors && isSubmitted ? 'invalid': '' }}">
                                    <option *ngFor="let typ of types?.data" value="{{ typ.id }}"
                                        title="{{ typ.description }}">{{ typ.title }}</option>
                                </select>
                                <small class="form-text text-muted info-error info-error-danger"
                                    *ngIf="handleError?.type_id">
                                    {{ handleError?.type_id }}
                                </small>
                            </div>
                                </div>
                              
                             
                        <div class="col-md-12" *ngIf="typ.title == PRIERES">
                           <div class="position-relative form-group"><label for="exampleEmail"
                                class="">{{ 'Superadmins.Liturgical_Type_Entry.DescriptionField' | translate }}</label>
                            <select formControlName="entry_type_id" 
                                class="form-control">
                                <option *ngFor="let entry of entries?.data" value="{{ entry.id }}"
                                    title="{{ entry.description }}">{{ entry.title }}</option>
                            </select>
                        </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="ml-auto" *ngIf="active == null">
                                <input type="submit" class="btn btn-primary btn-lg"
                                    value="{{ 'Superadmins.SaveField' | translate }}" />
                            </div>
                            <div class="ml-auto" *ngIf="active!=null" style="margin-right: 10px">
                                <input (click)="update()" type="button" class="btn btn-primary btn-lg"
                                    value="{{ 'Superadmins.UpdateField' | translate }}" />
                            </div>
                            <div class="ml-auto" *ngIf="active!=null"  style="margin-left: 10px">
                                <input (click)="cancel()" type="button" class="btn btn-warning btn-lg"
                                    value="{{ 'Superadmins.CancelField' | translate }}" />
                            </div>
                        </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <h5 class="card-title" style="text-align: center; margin-top: 4%;"> {{ 'Superadmins.List' | translate }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let type of data?.data">
                        <div class="widget-content p-0" style="cursor: pointer" >
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left" (click)="showDetails(type)">
                                    <div class="widget-heading">{{ type.type_id }}</div>
                                    <div class="widget-subheading" style="padding-right: 5%; width: 185%;">
                                        <span>{{ type.entry_type_id }}</span></div>
                                </div>
                                <div class="widget-content-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button type="button" class="btn-shadow btn btn-success"
                                            (click)="activate(type)" title="{{ 'Superadmins.Edit' | translate }}"><i
                                                class="pe-7s-note"></i></button>
                                        <button type="button" (click)="delete(type)" class="btn-shadow btn btn-danger"
                                            title="{{ 'Superadmins.Delete' | translate }}"><i
                                                class="pe-7s-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row" style="margin-top: 4%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example_previous">
                                <a (click)="getPage(data.prev_page_url)" aria-controls="example" data-dt-idx="0"
                                    tabindex="0" class="page-link">{{ 'Superadmins.Previous' | translate }}</a>
                            </li>
                            <li class="paginate_button page-item next" id="example_next">
                                <a (click)="getPage(data.next_page_url)" aria-controls="example" data-dt-idx="7"
                                    tabindex="0" class="page-link">{{ 'Superadmins.Next' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabs -->