<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100">
      <div class="h-100 no-gutters row">
        <div class="d-none d-lg-block col-lg-4">
          <div class="slider-light">
            <div class="slick-slider">
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                  tabindex="-1">
                  <div class="slide-img-bg" style="background-image: url('assets/images/originals/truck-1.jpg');"></div>
                  <div class="slider-content">
                    <h3>E-transport</h3>
                    <h6>Votre base de données des transporteurs routiers du Cameroun et de la sous région Afrique centrale</h6>
                  </div>
                </div>
              </div>
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                  tabindex="-1">
                  <div class="slide-img-bg" style="background-image: url('assets/images/originals/highway.jpg');">
                  </div>
                  <div class="slider-content">
                    <h3>Osons et Innovons</h3>
                    <h6>Un autre regard sur le transport routier des marchandises grâce au Numérique</h6>
                  </div>
                </div>
              </div>
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                  tabindex="-1">
                  <div class="slide-img-bg" style="background-image: url('assets/images/originals/truck.jpg');">
                  </div>
                  <div class="slider-content">
                    <h3>Gestion du parc automobile</h3>
                    <h6>Prenez en main le contrôle et la gestion de votre flotte seulement en quelques clics
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
          <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
            <!-- <div class="app-logo"></div>-->
            <!--  -->
            <div class="row">
              <div class="col-sm-12">
                <h2>
                  <span class="d-block" style="margin-bottom: 5%;">{{ 'Login.WelcomeBack' | translate }}</span>

                </h2>

              </div>
              <!-- <div class="col-sm-6">
                <div class="dropdown">
                  <button *ngIf="currentLanguage == 'fr'" (click)="changeLanguage('en')" style="float: right" type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link" aria-expanded="false" title="US">
                      <span class="icon-wrapper icon-wrapper-alt">
                          <span class="icon-wrapper-bg"></span>
                          <span class="language-icon flag large US"></span>
                      </span>
                  </button>
                  <button *ngIf="currentLanguage == 'en'" (click)="changeLanguage('fr')" style="float: right" type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link" aria-expanded="false" title="France">
                      <span class="icon-wrapper icon-wrapper-alt">
                          <span class="icon-wrapper-bg"></span>
                          <span class="language-icon opacity-8 flag large FR"></span>
                      </span>
                  </button>
                </div>
              </div> -->
            </div>
            <!-- -->
            <div class="row">
              <div class="row" style="width: 100%; margin-left: 2%;">
                <h4 class="mb-0">
                  <span>{{ 'Login.PleaseSignIntoYourAccount' | translate }}</span>
                </h4>
              </div>
              <!-- <div class="row">
                  <h6 class="mt-3">{{ 'Login.NoAccount' | translate }}? <a href="javascript:void(0);"
                    class="text-primary">{{ 'Login.SignUpNow' | translate }}</a></h6>
              </div> -->

            </div>
            <div class="divider row"></div>
            <div>
              <form [formGroup]="loginForm" (submit)="login()">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="position-relative form-group"><label for="exampleEmail"
                        class="">{{ 'Login.Login' | translate }}</label>
                      <input name="login" id="exampleEmail" placeholder="{{ 'Login.LoginHere' | translate }}..."
                        type="text" class="form-control" formControlName="login" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="position-relative form-group"><label for="examplePassword"
                        class="">{{ 'Login.Password' | translate }}</label>
                      <input name="password" id="examplePassword"
                        placeholder="{{ 'Login.PasswordHere' | translate }}..." type="password"
                        formControlName="password" required class="form-control"></div>
                  </div>
                </div>
                <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox"
                    class="form-check-input"><label for="exampleCheck"
                    class="form-check-label">{{ 'Login.KeepMeLoggedIn' | translate }}</label></div>
                <div class="divider row"></div>
                <div class="d-flex align-items-center">
                  <div class="ml-auto">
                    <!-- <a href="javascript:void(0);"
                      class="btn-lg btn btn-link">{{ 'Login.RecoverPassword' | translate }}</a> -->
                    <input type="submit" class="btn btn-primary btn-lg"
                      value="{{ 'Login.LoginToMySpace' | translate }}" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>