<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i _ngcontent-lhs-c2="" class="metismenu-icon pe-7s-users"></i>
            </div>
            <div> Intervenant sur le transport
                <div class="page-title-subheading">Intervenant sur le transport
                </div>
            </div>
            <div class="page-title-actions">
                
            </div>
        </div>
    </div>
</div>

<div class="tabs-animation">
    <div class="main-card mb-3 card">
        <div class="card-header">
            <i _ngcontent-lhs-c2="" class="metismenu-icon pe-7s-users"></i>
            Element Intervenant
        </div>
        <div class="card-body">

            <table style="width: 100%;" id="example2" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>   
                        <th>Nom</th>
                        <th>Localisations</th>
                        <th>Description</th>
                        <th>Date de creation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of data?.data ,let i = index" id="tr{{ element.id }}">
                        <td>{{ i+1 }}</td>
                        <td style="width: 20%">{{element.name}}</td>
                        <td style="width: 15%">{{element.localisation}}</td>
                        <td style="width: 25%">{{element.description}}</td>
                        <td style="width: 15%">{{element?.created_at| date:'dd-MM-yyyy'}}</td>
                        <td style="width: 20%">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary" ><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                        </td>
                    </tr>
                </tbody>
               
            </table>
        </div>
    </div>
</div>