<div class="container">
    <div class="row">
        <div class="app-page-title" style="margin: 0%; width: 100%;">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-phone icon-gradient bg-premium-dark">
                        </i>
                    </div>
                    <div>{{ 'Parishionals.MyParish' | translate }}
                        <div class="page-title-subheading">{{ 'Parishionals.DescribeMyParish' | translate }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let parish of parishs?.data">
                        <div class="widget-content p-0" style="cursor: pointer" (click)="showParishDetails(parish)">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ parish.name }}</div>
                                    <div class="widget-subheading" style="padding-right: 5%">
                                        {{ parish.decision_creation }}</div>
                                </div>
                                <div class="widget-content-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button type="button" class="btn-shadow btn btn-success" (click)="activateParish(parish)"
                                            *ngIf="!parish.parish_is_active"
                                            title="{{ 'Parishionals.On' | translate }}"><i
                                                class="pe-7s-light"></i></button>
                                        <!-- <button type="button" class="btn-shadow btn btn-danger"
                                            *ngIf="parish.parish_is_active"
                                            title="{{ 'Parishionals.Off' | translate }}"><i
                                                class="pe-7s-power"></i></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row" style="margin-top: 4%">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example_previous">
                                <a (click)="getPage(parishs.prev_page_url)" aria-controls="example" data-dt-idx="0" tabindex="0"
                                    class="page-link">{{ 'Parishionals.Previous' | translate }}</a>
                            </li>
                            <li class="paginate_button page-item next" id="example_next">
                                <a (click)="getPage(parishs.next_page_url)" aria-controls="example" data-dt-idx="7" tabindex="0"
                                    class="page-link">{{ 'Parishionals.Next' | translate }}</a>
                            </li> 
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{ 'Parishionals.ParishDetails' | translate:{'name': activeParish?.name} }}</h5>
                    <div class="row container-details">
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.DecisionCreation' | translate }} : </strong><span> {{ activeParish?.decision_creation }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.SaintPatternDate' | translate }} : </strong><span> {{ activeParish?.Pattern_date }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.CebNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_ceb }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.GroupNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_group }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.SeminaristNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_seminarist }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.ServiceNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_service }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.StationNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_station }}</span>
                        </div>
                        <div class="col-lg-12">
                            <strong>{{ 'Parishionals.ParishDetailsProperties.StructureNumber' | translate }} : </strong><span> {{ activeParish?.nbr_of_structure }}</span>
                        </div>
                    </div>
                    <!-- <p class="bg-dark text-white">Etiam porta sem malesuada ultricies vehicula.</p> -->
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Tabs -->